@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unica+One&display=swap');

header {
    font-family: "Bebas Neue", sans-serif;
}

main {
    font-family: "Unica One", sans-serif;
}

.hairs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.hairscut {
    padding-top: 50px;
    background-color: #c8c4f5;
}

.beardcuts {
    padding-top: 50px;
    background-color: #a5a2ca;
}

h2 {
    color: black;
    text-align: center;
}

.card {
    border: none;
    margin: 50px auto;
   max-height: 450px;
}

.card-img-top{
    padding: 0;
    margin: 0;
    max-height: 384px; 
    object-fit: cover;
}


.card-body-hairscut {
    background-color: #525064;
    max-height: 70PX;
}

.card-body-beardctus {
    background-color: #525064;
}

.card-title {
    color : white;
    text-align: center;
    
}







@media screen and (min-width: 768px) and (max-width: 1023px){

    .hairs {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 767px){

    .hairs {
        display: grid;
        grid-template-columns:  100%;
    }
}