:root {
    max-width: 100%;
    color-scheme: light dark;
    font-family: "unica-one-regular", sans-serif; /* Asegúrate de que la fuente está disponible y el nombre es correcto */
}

.unica-one-regular {
    font-family: "Unica One", sans-serif; /* Asegúrate de que la fuente está disponible y el nombre es correcto */
    font-weight: 400;
    font-style: normal;
}

